{% extends "base.html.twig" %}


{% block title %}
	Modification du produit
	{{ product.nom }}
{% endblock %}

{% block body %}
	<h1>Modifier le produit
		{{product.nom}}</h1>

	{{ form_start(form) }}
	{{form_errors(form)}}
	<div class="row">
		<div class="col">
			{{ form_row(form.nom) }}
			{{ form_row(form.designation) }}
			{{ form_row(form.prix) }}
			{{ form_row(form.tva) }}
		</div>
		<div class="col">
			<span class="d-flex flex-row">
				{{ form_row(form.image) }}
				<img src="/uploads/images/{{product.image}}" alt="{{product.nom}}" style="width:300px;height:auto;border-radius: 6%;">
			</span>
			{{ form_row(form.Qte) }}
			{{ form_row(form.category) }}

		</div>
	</div>

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Modifier
	</button>
	{{ form_end(form) }}
{% endblock %}
