{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ encore_entry_script_tags('listeProduct') }}
{% endblock %}


{% block body %}

<div class="flex justify-content-center align-middle mx-auto" style="width:95%;">
	<div class='text-center position-relative'>
		<img loading="eager" src="/images/logo.png" alt="logo du site" title="" style="width: 100px;height: 100px;">
	</div>
	<div class="table-responsive mt-5">

		<div class="table-title">
			<div class="flex justify-content-center align-middle mx-auto">

				<h1 class="text-uppercase text-center">Gestion des Produits</h1>


			</div>
		</div>
		<table class="table table-bordered border-white table-hover" id="product-table">
			<thead>
				<tr class="firstligne bg-opacity-60 text-danger">
					<th>Nom du produit</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Taux de TVA</th>
					<th>Image</th>
					<th>Quantité en stock</th>
					<th>Catégorie</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="table-group-divider" style="border-top-color:black">
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					{% for product in listeProduits %}
						<tr data-id="{{ product.id }}">
							<td>{{ product.nom }}</td>
							<td>{{ product.designation }}</td>
							<td>{{ product.prix }}
								€</td>
							<td>{{ product.tva }}
								%</td>
							<td><img src="/uploads/images/{{product.image}}" alt="{{product.nom}}" style="width:150px;height:auto;border-radius: 6%;"></td>
							<td>{{ product.Qte }}</td>
							<td>{{ product.category.nom }}</td>
							<td>
								<span class="mx-auto">
									<a href="{{ path('product_edit', {'id': product.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="blue" class="bi bi-pencil-square" viewbox="0 0 16 16" data-toggle="tooltip" title="Edit"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
									</a>
								</span>

								<span title="Supprimer" class="modalClick" name="supprUser" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-trash" viewbox="0 0 16 16" data-toggle="tooltip" title="Delete">
										<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
										<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
									</svg>
								</span>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>

		</table>
	</div>
	<div class="float-end">
		<button type="button" class="btn btn-secondary" onclick="history.go(-1)">Retour</button>
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			<a href="{{path('product_create')}}" class="btn btn-primary" id="ajtProduit">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
					<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
				</svg>
				<span class="mx-2">Ajouter un Nouveau Produit</span>
			</a>
		{% endif %}
	</div>
	<nav id="pagination">
		<ul class="pagination justify-content-center">
			<li class={{ (page==1) ? "disabled" : ''}}>
				<a class="page-link" href="?page=1" aria-label="First">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class={{ (page==1) ? "disabled" : ''}}>
				<a class="page-link" href="{{ (page>1)? '?page='~(page -1): ''}}" aria-label="Previous">
					<span aria-hidden="true">&#139;</span>
				</a>
			</li>
			{% set pages= (total/limit)| round(0,'ceil') %}
			{% set indexinf=page-2 %}
			{% set indexsup=page+2 %}
			{% if indexinf < 1 %}
				{% set indexinf = 1 %}
			{% endif %}
			{% if indexsup > pages %}
				{% set indexsup = pages %}
			{% endif %}

			{% for item in indexinf..indexsup %}
				<li class={{ (page==item) ? "active" : ''}} aria-current="page">
					<a class="page-link" href="?page={{ item }}">{{ item }}</a>
				</li>

			{% endfor %}
			<li class={{ (page==pages) ? "disabled" : ''}}>
				<a class="page-link"
