{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
	<h1 style="background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
																									background-clip:text;
																									-webkit-background-clip:text;
																									color:transparent;
																									text-shadow: -2px -2px 2px rgba(0,0,0,0.79);
																									font-size: 3em;">NOS OFFRES SPÉCIALES !</h1>

	<div class="row">


		{% for p in products %}

			<div class="col-md-6 col-lg-4">
				<div class="morph">
					<div class="card align-items-center mx-2 bg-light">

						<img src="/uploads/images/{{p.image}}" class="img-fluid" alt="Image du produit">
					</div>

					<div class=" card-body">
						<h4 class="card-title mt-3">{{p.nom | slice(0, 30) ~ '...'}}
							({{p.prix}}
							&euro;)</h4>
						<h5>
							<span class="badge bg-light">
								{{p.getCategory().getNom()}}
							</span>
						</h5>
						<p class="card-text" style="text-align: justify;">{{p.designation |slice(0, 250) ~ '...' }}</p>

						<a href=" {{path('product_show', {'category_slug' : p.category.slug, 'slug': p.slug} )}}" class="btn btn-primary btn-sm">Détails</a>
						<a href="{{path('panier_add', {'id': p.id })}}" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}


	</div>

	<hr>
	<h1 style="color:#e15a97; text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3), 1px 1px 1px rgba(0,0,0,0.7);">
		<span class="badge bg-secondary">Un service irréprochable</span>
	</h1>
	<p>
		<strong>Les 3 bonnes raisons de choisir PhoneShop</strong>
	</p>
	<div class="row d-flex justify-content-between">
		{% include "shared/_assurance.html.twig" with {
		            'color': '#ff33cc',
		            'icone':'fas fa-truck',
		            'text' : "Une livraison rapide et soignée Grâce à notre partenaire logistique, nous nous engageons à expédier le jour même toute commande passée avant 13H du lundi au vendredi pour une livraison soignée en 24 ou 48h."
		
		}
		%}
		{% include "shared/_assurance.html.twig" with {
		            'color': '#ffff00',
		            'icone':'fas fa-check',
		            'text' : "Des conseils d'experts Passionnée par la téléphonie, la radiocommunication et les produits high tech, notre équipe de conseillers qualifiés est à votre écoute pour vous accompagner avant et après votre achat"
		
		}
		%}
		{% include "shared/_assurance.html.twig" with {
		            'color': '#0066ff',
		            'icone':'fas fa-lock',
		            'text' : "Un site sécurisé PhoneShop vous assure des achats 100% protégés grâce à la  technologie SSL utilisée sur toutes les pages du site et un paiement en ligne 100% sécurisé avec HiPay                                                                                     
					
					                                                                                          "	}
		%}


	</div>

{% endblock %}
